.tast{
	width: 230px;
	height: 100%;
	background-color: #eaeaea;
}
.header{
	height: 50px;
	font-size: 20px;
	overflow: hidden;
}
.header span{
	float: left;
	margin: 0 15px;
	font-size: 18px;
	color: #333;
	line-height: 50px;
	font-weight: 500;
}
.header .build-project{
	float: right;
	height: 50px;
	margin: 0 15px;
	position: relative;
}
.build-project a{
	display: block;
	width: 20px;
	height: 50px;
}
.lc-add-project{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 15px;

}
.lc-add-project img{

	width: 20px;
	height: 20px;	
}
.body-list{
	width: 100%;
}
.search-area{
	width: 100%;
	height: 44px;
	box-sizing: border-box;
	padding: 0 15px 10px 15px;
	position: relative;
}
.lc-search{
	width: 16px;
	height: 16px;
	top: 8px;
	left: 22px;

	position: absolute;

}
.lc-search img{
	width: 16px;
	height: 16px;
}
.search-area input{
	 background: #dcdcdc;
    box-shadow: none;
    border: 0;
    color: #333;
    height: 34px;
    font-size: 14px;
    padding-left: 26px;
}



 .section-list{
  width: 230px;
  position: relative;
  font-size: 15px;

 }
 .work{
  width: 230px;
 }
 .btn{
  width: 230px;
  height: 37.6px;
  box-sizing: border-box;
  padding: 8px 15px;
  cursor: pointer;
 }
 .text{
  width: 230px;
  
 }
 .text ul{
  width: 230px;

 }
 .text li{
  width: 230px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
 }
 .text a{
 	text-decoration: none;
 	color: #333;
 }
.down{
  position: absolute;
  background-color: #eaeaea;
  width: 230px;
}
ul{
	list-style: none;
	padding: 0;
}